.header{
background-color: darkcyan;
height: 80px;
}
.ninja{
  background-color: rgb(23, 215, 215);
  margin-right: 1px;
  margin-left: 500px;
  height: 600px;
  border-color: black;
  border-radius: 10px;
  align-items:last baseline;
  display: flex;
  flex-direction: row;
}

.footer{
  background-color: brown;
  height: 150px;
}